// GLOBALES AQUI SE AGREGA TODO LO QUE SERÁ GLOBAL

// 1 rem = 10px

@use 'variables' as v;
@use 'mixins' as m;

html {
    // *:not(nav){
    //     font-size: 62.5%; 
    // }
    //
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    
    font-family: v.$fuente_principal;
    font-size: 1.6rem;
    margin: 0;
    

    &.fijar-body{
        overflow: hidden;
    }
    &.body-scroll {
        padding-top: 7.76rem;
    }
}

p {
    font-size: 2rem;
    // color: v.$negro;
    line-height: 1.5;
}

.contenedor {
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

h1,h2,h3, h4, h5 {
    margin: 0 0 5rem 0;
    text-transform: uppercase;
    color: v.$blanco;
}

h1 {
    font-size:4rem;
    text-align: center;
}
h2 {
    font-size:3.6rem;
}
h3 {
    font-size:3rem;
}

img {
    max-width: 100%;
    width: 100%;
    height: auto;
    display: block;

    &.contenido-image {
        max-width: 50%;
    }
}

.nav-link {
    &:hover{
        @include m.desktopXL{
            background-color: v.$primarioTranspa;
            border-radius: 1.5rem;
        }
    }
}

.brand-logo{
    width: 3rem;
    border-radius: 50%;
    // border-style: solid;
}