//Archivo de variables para mi proyecto
//Tipografia
$fuente_principal: 'Public Sans', sans-serif;

// Colores
$primario: rgb(1 101 0);
$secundario: rgb(0 50 0);
$terciario: rgb(0 120 71);
$cafe: rgb(40 11 11);

$amarillo: #FEF46D;
$morado: #752f97;
$negro: #000;
$blanco: #FFF;

//Tamaños de Media Queries

$telefono: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;