@use 'base/variables' as v;
@use 'base/mixins' as m;

footer{
    margin-top: 5rem;

    &.footer {
        // background: rgb(1,101,0);
        //background: linear-gradient(90deg, rgba(1,101,0,1) 0%,rgba(0,120,71,1) 35%, rgba(0,50,0,1) 100%);
        padding: 5rem;
    }

    h3 {
        color: v.$blanco;
        text-align: center;
    }

    .footer_info {
        display: grid;

        @include m.grid(3, 1rem)
    }

    .contacto {
        grid-column: 1;
        
    }

    .contacto_section {
        display: grid;
        align-content: center;
        @include m.grid(2, .5rem);
        grid-template-columns: 2rem 10rem;
        p {
            color: v.$blanco;
            font-size: 1.5rem;
        }

        .contacto-icon {
            margin-top: .5rem;
            width: max-content;
        }
    }


}