@use 'base/variables' as v;
@use 'base/mixins' as m;

.principal {
    background-color: v.$gris;
    padding: 5rem;
    border-radius: 2rem;
    margin-bottom: 5rem;
    

    h1 {
        text-align: center;
    }

    img {
        margin: auto;
    }

    @include m.telefono {
        .principal-contenido {
            display: grid;
            @include m.grid(2, 1rem)
        }    
    }

}
