@use 'base/variables' as v;
@use 'base/mixins' as m;

.principal {
    background-color: v.$gris;
    padding: 5rem;
    border-radius: 2rem;
    margin-bottom: 5rem;
    

    h1 {
        text-align: center;
    }

    img {
        margin: auto;
    }

    @include m.telefono {
        .principal-contenido {
            display: grid;
            @include m.grid(2, 1rem)
        }    
    }

}
.carousel-img-edit {
    // height: 25rem;
    
    transform: scale(1.5);
    max-height: 40rem;

}

.carousel-inner {
    border-radius: 2.5rem;
    margin-bottom: 5rem;
}

.nav-logo {
    margin-right: 1rem;
}

